.card-container {
    margin-top: 8vw;
    border: 1px solid green;
    align-items: center;
    text-align: center;

    h1 {
        margin-left: 40%;
        margin-right: auto;
        text-align: center;
        color: white;
    }

} 