.card-container {
    // margin-top: 8vw;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: CascadiaCode-bold;



    .card-title-container {
        border: 1px solid green;
     
    }

    h1 {
        text-align: start;
        color: white;
    }
    p {
        color: white;
    }
    h3 {
        text-align: start;
        color: white;
        font-size: 2vw;
    }

} 