.card-container {
    margin-top: 8vw;
    float: right;
    margin-right: -9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: CascadiaCode-bold;

    h1 {
        font-size: 3.5vw;
        letter-spacing: 4px;
        text-align: center;
        color: white;
    }
    p#card-tagline {
        // border: 1px solid green;
        margin-top: -.8rem;
        color: #5e17eb; 
        font-size: 2.1vw;
        font-family: cascadiaMonoPL;
        letter-spacing: 2px;
    }
    p#card-text-portfolio {
        margin-top: 3rem;
        // border: 1px solid green;
        letter-spacing: 0.1px;
        font-size: 1.9vh;
        color: white;
        text-align: center;
    }
} 
#card-btn-principal {

    margin-top: 3rem;
    a {
        color: white;
        font-size: 1.6rem;
        text-decoration: none;
    }
    margin-left: 13.8%;
    width: 70%;
    padding: 20px;
    // padding: 10px 10px 10px 10px;
    background: #5e17eb ;
    border-radius: 5px;
}