.card-container {
    margin-top: 8vw;
    float: right;
    margin-right: -5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: CascadiaCode-bold;

    .card-title-container {
        border: 1px solid green;
    }

    h1 {
        font-size: 3.5vw;
        letter-spacing: 5px;
        text-align: start;
        color: white;
    }
    p#card-tagline {
        border: 1px solid green;
        font-size: 1.8vw;
        letter-spacing: 3px;
        color: white;
    }
    h3 {
        text-align: start;
        color: white;
        font-size: 2vw;
    }

} 