.card-container {
    margin-top: 8vw;
    text-align: start;
    align-items: center;
    text-align: center;
    .card-title-container {
        border: 1px solid green;
    }

    h1 {
        font-size: 3.5vw;
        text-align: start;
        color: white;
    }
    h3 {
        text-align: start;
        color: white;
        font-size: 2vw;
    }

} 