.btn-mas {
    cursor: pointer;
    display: wrap;
    position: absolute;
    width: 75px;
    justify-content: center;
    align-items: center;
    height: 75px;
    border: 1px solid green;
    bottom: 20px;
    right: 20px;
}