.btn-menu {
    transition: all .3s ease-out;
    &.before {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
    display: wrap;
    position: absolute;
    width: 75px;
    height: 75px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    // border: 1px solid green;
    bottom: 45px;
    cursor: pointer;
    right: 6rem;

    background: white;
    // background: #5e17eb;

    // .btn-patty {
    //     width: 32px;
    //     height: 3.2px;
    //     background: white;

    //     &:not(:last-child) {
    //         margin-bottom: 6px;
    //     }
    // } 
}
.fa-sun {
    color: yellow;
    margin-top: .8rem; 
}
.btn-hamburguer i {
    font-size: 3rem;
}
.fa-moon{
    // display: inline-block;
    // font: normal normal normal 14px/1 FontAwesome;
    margin-top: .8rem; 
    // font-size: inherit;
    // text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // width: 50%;
    // height: 50%;
    color: white;
}

// .btn-menu {
//   // border: 1px solid green;
//   margin-left: 30rem;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   width: 75px;
//   height: 75px;
//   border-radius: 50%;
//   z-index: 2;
//   position: absolute;
//   right: 6rem;
//   bottom: 45px;

//   &.active {
//     .material-hamburguer {
//       &:before {
//         transform: scale(30);
//       }
//     }
//   }

//   .btn-hamburguer {
//     transition: all .2s ease-out;
    
//     &:before {
//       content: '';
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 75px;
//       height: 75px;
//       z-index: -1;
//       background: #5e17eb;
//       border-radius: 50%;
//       box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
//       transform: scale(1);
//       transition: all 0.35s ease-out;
//     }

//     .btn-patty {
//       width: 32px;
//       height: 3.5px;
//       background: white;
//       transition: all 0.2s ease-out;

//       &:not(:last-child) {
//         margin-bottom: 6px;
//       }
//     }
    
//     &.btn-close {
//       transform: rotate(-180deg);
//       .btn-patty:nth-child(1) {
//         transform: translate(9px, 4px) rotate(45deg) scale(0.5, 1); 
//       }
      
//     // .btn-patty:nth-child(3) {
//     //     transform: translate(9px, -4px) rotate(-45deg) scale(0.5, 1) ;
//     // }
//     }
//   }
// }
