nav#navbar1 {
    margin: 2rem 0 0 0 ;
    background: transparent;
    font-family: cascadiaCode-Bold;
    justify-content: space-around;

}
.noActive {
    /* display: none; */
    visibility: hidden;
}
.text-logo{
    font-size: 2rem;
}
.menor-mayor{
    border: 0;
    padding: 0;
    color: #5e17eb; 
    font-size: 2rem ;
}
.toggler-example {

    border: none;
    border-radius: 40px;
    /* border: 10px solid green; */
    background: transparent;
}
.fa-bars {
    border-radius: 30px;

    padding: 0.8rem;
    background: #5e17eb;
    font-size: 1.4rem;
    color:white ;
}

@media screen and (max-width: 360px) {
    .text-logo {
        font-size: 1.2rem;
    }
    .menor-mayor {
        font-size: 1.2rem;
    }
    .icon-button {
        bottom: 1px;
    }
}















