.about-container {
    // margin-top: 42rem;
    // display: flex;
    // position: absolute;
    margin-top: 2rem;
    z-index: -1;
    // background: whitesmoke;
    border: 1px solid green;
    position: absolute;
}