body {
  // background: tomato;
  // font-family: 'Roboto', 'Arial', sans-serif;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

.menu-wrapper {
  margin-top: -7rem;
  float: right;
  background: transparent;
  width: 40vw;
  height: 100vh;
  overflow: hidden;
}

.material-menu {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  // border: 1px solid green;
  z-index: 3;
}

#material-btn {
  margin-top: 1.5rem;
  margin-left: 30rem;
  // display: flex;
  align-items: center;
  // border: 1px solid green;
  justify-content: center;
  flex-wrap: wrap;
  width: 75px;
  height: 75px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 20px;

  &.active {
    .material-hamburguer {
      &:before {
        transform: scale(30);
      }
    }
  }

  .material-hamburguer {
    transition: all .2s ease-out;
    margin-top: 1.64rem;
    margin-left: 1.4rem;
    // border: 1px solid green;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 75px;
      height: 75px;
      z-index: -1;
      background: #5e17eb;
      border-radius: 50%;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      transform: scale(1);
      transition: all 0.35s ease-out;
    }

    .material-patty {
      width: 32px;
      height: 2.5px;
      background: white;
      transition: all 0.2s ease-out;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
    
    &.material-close {
      transform: rotate(-180deg);
     
      .material-patty:nth-child(1) {
        transform: translate(9px, 4px) rotate(45deg) scale(0.5, 1); 
      }
      
      .material-patty:nth-child(3) {
        transform: translate(9px, -4px) rotate(-45deg) scale(0.5, 1) ;
      }
    }
  }
}

@media screen and (max-width: 460px) {

  .menu-wrapper {
    width: 80%;
    // height: 100%;
    margin-top: -5rem;
    // border: 1px solid blue;
  }
  #material-btn {
    float: right;
    margin-left: 14rem;
    &.before{
      width: 120%;
    }
  }

}

.material-content {
  text-align: start;
  position: relative;
  z-index: 1;
  
  nav {
    height: 40vh;
    position: absolute;
    top: 20px;
    padding: 15%;
    
    li {
      width: 75px;
      height: 75px;
      text-align: center;
      color: white;
      list-style: none;
      font-family: cascadiaCode-Bold;
      margin-bottom: 40px;
      padding-top: 12px;
      transition: all 0.3s ease-out;
      transform: translateY(70px) rotate(-45deg);
      opacity: 0;
      
      &.active {
        transform: translateY(0px);
        opacity: 1;
      }
    }

    @for $i from 1 through 4 {
      li:nth-child(#{$i}) {
        transition-delay: $i * .1s;
      }
    }
  }

  a {
    font-size: 4vw;
    color: white;
    transition: all 0.3s ease-out;
  }
  
  &.active {
    z-index: 2;
  }
}